.footer {
  width: 100%;
  height: 15vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-transform: uppercase;
  font-size: 1.4rem;
}
.footer a {
  text-decoration: none;
  color: tomato;
  cursor: pointer;
}
.footer span {
  color: tomato;
}
